.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #d6ecff;
}
.login-div > form {
  background: #fff;
  padding: 50px;
}
