:root {
  --theme-color : #4f7fae,
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.content-area {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn-theme{
  background-color: var(--theme-color);
  color: white;
}
